/**
* Accordeon
*/
.accordeon {
    display: flex;
    overflow: hidden;
}

details {
    position: relative;
}

details [open] {
    position: absolute;
    top: 0;
    left: 0;
}

details>div {
    position: relative;
    left: 130px;
    top: -85px;
    width: 175px;
    margin-right: 140px;
}
